<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- how website will look on different devices -->
    <title>Sign Up</title>

   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- linking the css file to the html file using url_for function to generate the correct URL for the static file -->
</head>
<body>
<div class="container">
    <form action="/signup" method="POST" class="form-box">
        <h2>Create Account</h2>

        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="number" name="age" placeholder="Enter Age" required>
        <input type="text" name="phone" placeholder="Enter Phone Number" required>
        <input type="email" name="email" placeholder="Enter Email" required>
        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Sign Up</button>

        <p>Already have an account? <a href="/login">Login</a></p>
    </form>
</body>
</html>
